.active {
  padding-top: 2rem;
  color: var(--black);
  background-color: white;
  border-color: white;
}

.inactive {
  padding: 0.5rem 1rem;
  background-color: var(--black);
  color: var(--black);
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
}

.tab {
  flex: 1;
  justify-items: stretch;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
